header {
  background: darkorange;
  color: #fff;
  height: 15vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  height: 85vh;
  overflow: hidden;
}

@media (max-width: 900px) {
  header p {
    display: none;
  }
  #app {
    height: auto;
    overflow: auto;
  }
  .container .card {
    height: 420px !important;
  }
  .container .card .content {
    visibility: visible !important;
    opacity: 1 !important;
    margin-top: -40px !important;
  }
}
